.container{
  min-width: 80%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 10px 20px 0 rgba(40, 218, 218, 1), 0 6px 20px 0 rgba(40, 218, 218, 1);
  padding-bottom: 15px;
}

.logo{
  max-width: 8rem;
}
h1{
  text-wrap: nowrap;
}

@media (max-width: 768px) {
  .logo{
    max-width: 5rem;
  }

}
