.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
}
.footer {
  position: fixed;
  left: 10%;
  bottom: 0;
  width: 100%;
  color: white;
  max-width: 80%;
  box-shadow: 0 10px 20px 0 rgba(40, 218, 218, 1), 0 6px 20px 0 rgba(40, 218, 218, 1);
  border-radius:20px 20px 0 0;
}
